
.indexbg{
    background: #2B472C
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.indexbg1{
    background: #2B472C;
}

.indeximg{
    border:4px solid white;
    margin-bottom: 20px;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}

.indextxt{
    color: white;
}

h3{
    font-family: monospace;
}

.glyphicon {
    font-size: 50px;
}
