

/*
* General
*/
body{
    background: lightblue;
}
.container-fluid {
    padding-top: 50px;
    padding-bottom: 40px;
}

.whitetxt{
    color: white;
}

h3{
    font-family: monospace;
}

/*
* index.html
*/

.indeximg{
    border:4px solid white;
    margin-bottom: 20px;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}

.fa {
    padding-top:10pt;
    color:white;
}

/*
* about.html
*/

.aboutdiv{
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: 12%;
    margin-right: 12%;
}

.panel-default > .panel-heading {
    background-color: cadetblue;
    border-color: cadetblue;
    color:white;
}

